@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,700');

html,
body,
#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

div.day-picker input {
  appearance: none;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  font-size: 1em;
  font-weight: 400;
}

.DayPickerInput-Overlay {
  bottom: 38px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mr6 {
  margin-right: 6px;
}

.mr8 {
  margin-right: 8px;
}

.none {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}
